# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*

# AWS / Secrets
*.pem
*.key
secrets/
credentials/

# Flask
instance/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp

# Database backups
*.sql.bak
*.dump
